@-moz-document url-prefix("https://www.google.com/search") {
[data-mcp="18"], /* AI Overview */
#rso>div:has(ai-mode-inline-card), /* AI Mode Promo Card */
[role="listitem"]:has(a[href^="/search?q="][href*="&udm=50"]), /* AI Mode button */
[data-initq], /* Inline search suggestion */
#bres, /* Bottom search suggestion */
#tsf [role="presentation"]>[role="presentation"], /* Searchbar search suggestion */
#slim_appbar:empty, [style="margin-top:12px"]:empty /* Margin fix */
{
    display: none;
}

#rcnt>:not(#center_col,#rhs,:first-of-type) .kp-wholepage-osrp>:has(g-dropdown-menu) /* Margin fix */
{
    margin-top: 0;
}
}
